/* *{
    border: 1px solid black;
} */

body {
    background-color: white;
    color: black;
    margin: 0px
}

header {
    width: 100%;
}

/* MOBIL */

.container {
    background: lightblue;
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: repeat (6, 1fr);
    gap: 5px 5px;
    padding: 20px;
}
.header:nth-child(1) {
    background: hotpink;
    grid-column: 1;
    grid-row: 1;

}
.main-container:nth-child(2) {
    background: rgb(100, 25, 186);
    grid-column: 1;
    grid-row: 2
}
.footer-container:nth-child(3) {
    background: rgb(195, 46, 27);
}



.nav-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
}
nav {
    border: green solid 4px;
    justify-items: center;
    align-items: center;
}
nav a {
    color:black;
    text-decoration: none;
    
}
nav a:hover {
    color: blue;    
}

.main-container {
    border: 2px rgb(183, 206, 40) solid;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-container {
    border: 2px rgb(223, 69, 22) solid;
    display: flex;
    flex-direction: column;
    gap: 5px;
}



/* Desktop */

@media (min-width: 700px){
.nav-container {
    color:black;
    text-decoration: none;
    display: flex;
    flex-direction: row;

    gap: 20px;
}
}